.single-input {
  width: 60px;
}
.ml-3 {
  margin-right: 80px;
}
.top {
  margin-top: 50px;
}
.left-pd {
  padding-left: 50px;
}
.btn {
  margin: 20px 0;
}
.ml-space {
  margin-top: 20px;
  margin-bottom: 20px;
}
.select-input {
  width: 60px;
}
.bottom {
  margin-bottom: 20px;
}